@{
    ViewBag.Title = "HomeMain";
    Layout = "~/Views/Shared/_LayoutHomeMain.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="page-header">
        <h2>Dashboard</h2>
        <p>Tổng quan hệ thống quản lý thư viện</p>
    </div>
</body>
</html>
